a {
    text-decoration: none;
}

.th_left {
    text-align: left;
}

.new_dataset_btn {
    color: #ffffff;
}

td,
th {
    text-align: center !important;
}

.d_tb_row .MuiTableCell-body {
    text-align: center !important;
}

#Modal_parent{
#simple-modal-description {
    p {
        margin: 0;
    }
    h4 {
        small {
            font-weight: 400;
        }
    }
}
.CloseIcon{
    cursor: pointer;
}
}
.datasets{
    .dLink {
        padding: 0 90px 0 0;
    }
    p{
        padding: 0 90px 0 0;
    }
}